p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

body {
    margin: 0;
    padding-top: 81px;
    padding-left: 96px;
    padding-right: 24px;
    background-color:#edebeb4c;
   
}



.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom:10px;
  right: 5px;
  font-size: 13px;
  font-family: Roboto, Arial;
  font-weight: 500;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
}